@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap');

/* Section one styling */
body {
    margin: 0;
}

.home-section-one {
    background: #014E56;
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
}

nav {
    width: 90%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    margin: auto;
}

.brand-name {
    height: 40px;
    font-family:Livvic;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    color: white;
}



.right-nav-button {
    height: max-content;
    font-family:Livvic;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 10px;
}


a {
    font-family: livvic;
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 3px;
}

a:hover {
    color: #F67E7E;
}

.hamburger-navbar {
    position: absolute;
    top: 45px;
    right:25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 25px;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav-button {
    border-style: none;
    background-color: #014E56;
    color: white;
    font-family: Livvic;
    font-weight: 700;
    font-size: 18px;
}

.logo-img {
    color: white;
}

.circle-one-container {
    width: 10%;
}

.circle-one {
    width: 168px;
    transform: rotate(180deg);
}

.circle-two-container {
    width: 100%;
    height: 150px;
}
.circle-two {
    transform: rotate(180deg);
    float: right;
    padding-top: 20px;
}

.top-main-container {
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: row;


} 

.sec-one-textbox {
    margin: auto;
    width:1110px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    text-align:left;
    justify-content: center;
    flex-wrap: wrap;
}

.Talent-textbox-one {
    color: white;
    font-size: 70px;
    font-family: Livvic;
    width: 635px;
    font-weight: bold;
    margin-right: -50px;
}

b {
    color:#F67E7E;
}
.talent-textbox-two {
    color: white;
    font-family: 'Livvic';
    width: 445px;
    text-align: start;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
}

.underline {
    width: 50px;
    height: 5px;
    background: #F67E7E;
}



    
/* End of Section one styling */

/* Section two styling */

.home-section-two {
    background-color:#012F34;
    height: max-content;
    padding-bottom: 90px;

}

.sec-two-textbox {
    width: 80%;
    height: max-content;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

.sec-two-icon {
    float: left;
    margin-right: 5px;
}
.build-textbox-one {
    height: auto;
    width: 40%;
}

h3 {
    font-size: 48px;
    font-family: Livvic;
}

.build-textbox-two {
    height: max-content;
    display: flex;
    flex-direction: column;    
}

h5 {
    color: #F67E7E;
    font-weight: 800;
    font-size: 19px;
    font-family: 'livvic';
}
.section-two-icon-container {
    margin:auto;

}
.sec-two-textlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.sec-two-paragraph {
    width: 75%;
    margin: auto;
}

p { 
    font-size:18px;
    font-family: livvic;
    font-weight: 700;
    width:100%;
}


/* End of section two styling */

.home-section-three {
    height: max-content;
    background-color: #004047;
    margin-top: -50px;
    font-family: livvic;
}

.sec-three-h3 {
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.sec-three-main-text-container {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin: auto;
}

.sec-three-review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 25%;
    height: max-content;
    margin:auto;
}

.sec-three-text-container {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    width: 50%;
    height: auto;
    margin: auto;
}

.success-story-img {
    border-radius: 50%;
    height: 70px;
    
}

    
.section-four {
    height: auto;
    width: 100%;
    background-color: #F67E7E;
    padding-bottom: 30px;
}

.section-four-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    
}

.section-four-h3 {
    align-content: center;
    font-size: 46px;
    text-align: center;
}
.contact-button-section-four {
    background-color: #F67E7E;
    color: black;
    font-size: 18px;
    font-family: livvic;
    font-weight:700 ;
    border-style: solid;
    border-radius: 28px;
    border-width: 5px;
    border-color: #012F34;
    padding: 10px;
    width:150px ;
    margin: auto;
    text-align: center;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;

}

.contact-button-section-four:hover {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    color: white;
    background-color: #014E56;
}

footer {
    background-color:#004047;
    
}

.footer-button {
    border-style: none;
    background-color: #004047;
    color: white;
    font-family: Livvic;
    font-weight: 700;
    font-size: 18px;

}

.footer-button-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    height: 50px;
    padding-top: 50px;
    padding-bottom:50px
    
}

.footer-nav-button {
    border-style: none;
    color: white;
    font-family: Livvic;
    font-weight: 700;
    font-size: 18px;
}

.myteam-logo {
    margin: auto;
}

.footer-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    margin: auto;
}

.footer-social-icon {
    width: 70px;
    margin: auto;
}


/* About Section Styling */

header {    
    background-color:#014E56;
    height: max-content;
    padding-bottom: 100px;
}

.about-header-text {
    color: white;
    height: max-content;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
}

.about-h1-container {
    font-family: livvic;
    font-size: 32px;
    width: 50%;
    margin: auto;
}

.about-header-p-container {
    width: 50%;
    margin: auto;
    display: flex;   
    flex-wrap: wrap;
}

.about-section-one {
    background-color:#004047;
    color: white;
    margin-top: -50px;
    height: fit-content;
    padding-bottom:100px;
}

.meet-directors-container {
    width: 80%; 
    height: auto;
    margin: auto;
    padding-bottom: 30px;
}

.about-h3 {
    text-align: center;
    padding-bottom:64px;
    padding-top: 30px;
}

.directors-container {
    height:max-content;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
 
}

.directors-text-container {
    height:fit-content;
    width: 350px;
    background-color:#012F34;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 5%;
}

.img-container {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.directors-img {
    border-radius: 50%;
    height: 96px;
    border-style: solid;
    border-color: #c4fffe;
}


.about-hidden-logo-container {
    padding: 10px;
    margin: auto;
    display: none;

}

.about-hidden-p {
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    display: none;

}
.plus-sign-nikita,.plus-sign-cristian,.plus-sign-cruz,.plus-sign-drake,.plus-sign-griffin,.plus-sign-aden {
    background-color: #F67E7E;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 5px;
    transform: rotate(90deg);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.plus-sign-2 {
    background-color:#c4fffe;
    transform: rotate(-45deg);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.plus-sign-nikita:hover,.plus-sign-cristian:hover,.plus-sign-cristian:hover,.plus-sign-cruz:hover,.plus-sign-drake:hover,.plus-sign-griffin:hover,.plus-sign-aden:hover {
    background-color: #c4fffe;
}

.plus-sign {
    background-color: #F67E7E;
    padding: 15px;
    border-radius: 50%;
    cursor: grab;
}


h6 {
    color: #79c8c7;
    font-family: livvic;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* End of Directors Section Styling */

/* Clients Section Styling */

.clients-section {
    background-color: #012F34;
    color: white;
    text-align: center;
    height: max-content;
    margin: auto;
    padding-bottom: 50px;
}

.clients-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    margin: auto;
}

.clients-h3 {
    width:75%;
    height: 48px;
    margin: auto;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
}
.client-logo {
    width: 17%;
    height: 100%;
    margin: auto;
}

.about-contact-section {
    background-color: #F67E7E;
    height: auto;
    margin: auto;
    padding-bottom: 30px;
}


/* Contact Styling */

.contact-head-section {
    background-color: #014E56;
    padding-bottom: 50px;
}

.contact-main-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 100px;
    background-color: #014E56;
}

.contact-main-container {
    width:77%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    flex-wrap: wrap;
    margin: auto;
}

.contact-h1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    margin: auto;
}

.contact-h1 {
    font-size: 64px;
    font-family: livvic;
    color: white;
    margin-bottom: -20px;
    text-align: center;
}

.contact-about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}
.contact-h3 {
    color: #F67E7E;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 50px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

label {
    background-color: #014E56;
    border-style: hidden;
    margin-bottom: 10px;
    color: white;
    font-family: livvic;

}

input {
    height: 40px;
    background-color: #014E56;
    font-family: livvic;
    color: white;
    border-style: hidden;
    border-bottom:1px solid white;
    margin-bottom: 15px;

}

textarea {
    height: 84px;
    background-color: #014E56;
    font-family: livvic;
    border-style: hidden;
    margin-bottom: 15px;
}


/*

Start of media queries 

*/

@media screen and (max-width: 992px) {



    .home-section-one {
        background: #014E56;
        width: 100%;
        height: max-content;
    }
    
    nav {
        width: 85%;
        height: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        margin: auto;
        text-align: center;
    }
    
    
    a {
        font-family: livvic;
        color: white;
        border-style: none;
    }

    .nav-button {
        border-style: none;
        background-color: #014E56;
        color: white;
        font-family: Livvic;
        font-weight: 700;
        font-size: 18px;
    }

    .contact-button {
        width: fit-content;
        float: right;
        background-color: #014E56;
        color: white;
        font-family: Livvic;
        font-weight: 700;
        font-size: 18px;
        border-style: hidden;
    }

    .logo-img {
        color: white;
    }

    .circle-one-container {
        height: 60px;
    }

    .top-main-container {
        width:100%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
    
    } 

    .sec-one-textbox {
        margin: auto;
        width:70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .Talent-textbox-one {
        color: white;
        font-size: 45px;
        font-family: Livvic;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }


    .talent-textbox-two {
        color: white;
        font-family: 'Livvic';
        text-align: left;
        font-weight: 700;
        width: 90%;
        margin: auto;
    }
    
    .home-section-two {
        background-color:#012F34;
        height: max-content;
        padding-bottom: 90px;
    
    }
    
    .sec-two-textbox {
        width: 80%;
        height: max-content;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
    }
    
 
    .build-textbox-one {
        height: auto;
        width: 80%;
        margin: auto;
    }
    
    h3 {
        font-size: 48px;
        font-family: Livvic;
    }
    
    .build-textbox-two {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;    
    }
    
    h5 {
        color: #F67E7E;
        font-weight: 800;
        font-size: 17px;
        font-family: 'livvic';
    }
    .section-two-icon-container {
        margin:auto;
    
    }
    .sec-two-textlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 15px;
    }
    
    .sec-two-paragraph {
        width: 75%;
        margin: auto;
    }
    
    p { 
        font-size:15px;
        font-family: livvic;
        font-weight: 700;
        width:100%;
    }
    
    .home-section-three {
        height: max-content;
        background-color: #004047;
        font-family: livvic;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .sec-three-h3 {
        font-size: 40px;
        color: white;
        text-align: center;
        padding-top: 50px;
        width: 80%;
        margin: auto;
    }
    
    .sec-three-main-text-container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .sec-three-review-container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-around;
    
    }
    
    .sec-three-text-container {
        text-align: center;
        padding-top: 20px;
        font-size: 15px;
        width: 70%;
    }
    
    .success-story-img {
        border-radius: 50%;
        height: 70px;
        
    }

    .section-four-text {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 80%;
       margin:auto;
   }
   
   .section-four-h3 {
       align-content: center;
       font-size: 30px;
       text-align: center;
   }
   
   
   .contact-button-section-four {
       width:50%;
   }
   footer {
       background-color:#004047;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       height: auto;
   }
   
   .footer-button-container {
       display: flex;
       flex-direction: column;
       width: 80%;
       height: 100px;
       margin: auto;
       text-align: center;
   }
   
   
   .footer-nav-buttons {
       border-style: none;
       color: white;
       font-family: Livvic;
       font-weight: 700;
       font-size: 18px;
   }
   
   .footer-icon-container {
       margin: auto;
   }
   

    header {    
        background-color:#014E56;
        height: max-content;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
    
    .about-header-text {
        color: white;
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
        margin-top: 30px;
    
    
    }
    
    .about-h1-container {
        font-family: livvic;
        font-size: 32px;
        margin: auto;
    }
    
    .header-h1 {
        text-align: center;
        margin: auto;
    }
    
    .about-header-p-container {
        margin: auto;
        width: 60%;
    }
    
    .about-section-one {
        background-color:#004047;
        color: white;
        margin-top: -50px;
        height: fit-content;
        padding-bottom:20px;
    }
    
    .meet-directors-container {
        width: 95%; 
        height: auto;
        margin: auto;
    }
    
    .about-h3 {
        text-align: center;
        padding-bottom:32px;
        padding-top: 30px;
        margin: auto;
    }
    
    
    .directors-container {
        height:max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
     
    }
    
    .directors-text-container {
        height:auto;
        width: 350px;
        background-color:#012F34;
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 50px;
    }
    
    .directors-img {
        border-radius: 50%;
        height: 96px;
        border-style: solid;
        border-color: #c4fffe;
    }
    
    .about-hidden-p {
        font: 13px;
        margin: auto;
        width: 80%;

    }

    .clients-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    .clients-h3 {
        margin: auto;
        width: 90%;
        font-size: 48px;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .client-logo {
        height: 20%;
        width: 45%;
        margin-bottom: 35px;
    }

    .form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
    }

    .contact-h1-container {
        width: 100%;
        margin: auto;
    }

    .contact-h3 {
        margin-bottom: 50px;
    }

    .contact-about-container {
        margin: auto;
        text-align: center;
    }

    .contact-about-text {
        height: auto;
        width: 100%;
    }

    .contact-h1 {
        text-align: center;
        margin: auto;
    }

 
}

@media screen and (max-width: 650px) {

    .contact-h1 {
        font-size: 45px;
        margin: auto;
    }
    
    .sec-two-icon {
        width: 50px;
        height: auto;
    }

    h5 {
        font-size: 15px;
        margin-left:10px;
        width: 60%;
    }

    .hamburger-navbar {
        display: flex;

    }

    .right-nav-button {
       display: flex;
       flex-direction: column;
       margin-top: 20px;
       align-items: center;
       width: 100%;
       padding-bottom: 20px;
       background-color: #F67E7E;
       border-radius: 10px;

    }


    .nav-button {
        padding: 10px;
        height: fit-content;
        background-color: #F67E7E;
        font: 18px;
    }


    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .brand-name {
        width:135px;
    }
}
